@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
  display: grid;
  width: 100vw;
  gap: 5px;
  grid-template-areas: "section1 section1 section1 section1" "logo section2 section2 section2" "footer footer footer footer";
  background-color: #ECEFF7;
}

header {
  grid-area: header;
  height: 45px;
  background-color: #2b3035;
}
header:nav ul span {
  color: #f7ecf1;
  text-align: left;
  margin-right: 100px;
}

.section1 {
  grid-area: section1;
  margin-top: 20px;
  justify-self: center;
}

.logo {
  grid-area: logo;
  align-self: center; /*Alineación en el eje vertical(hijo)*/
  justify-self: center; /*Alineación en el eje horizontal(hijo)*/
  background-color: #ECEFF7;
  transform: rotate(60deg);
}

.section2 {
  grid-area: section2;
  background-color: #eceff7;
  padding: 25px;
  line-height: 1.8; /*Espacio entre lineas*/
  justify-self: center;
  margin: 25px;
}
.section2:h2 {
  text-align: center;
}

/* Saco los puntos de los items y centro el menu */
.menu {
  list-style-type: none;
  text-align: center;
  padding: 10px 10px;
  margin: 0px;
  /* Saco el subrayado de los items */
}
.menu:li {
  display: inline-block;
}
.menu:li a {
  color: aliceblue;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}

li {
  display: inline;
  text-align: center;
}

.redes {
  color: aliceblue;
  margin-left: 120px;
}

.pie {
  grid-area: footer;
  color: aliceblue;
  background-color: #2b3035;
  line-height: 1.5;
  padding: 20px;
  text-align: center;
}

/* TABLET */
@media screen and (max-width: 768px) {
  .contenedor {
    gap: 3px;
    grid-template-areas: "logo logo" "section2 section2" "footer footer";
    background-color: #ECEFF7;
  }
  .logo {
    margin-top: 25px;
  }
  .section1 {
    display: none;
  }
  .section2 h2 {
    text-align: center;
  }
}
/* MOBILE */
@media screen and (max-width: 420px) {
  .contenedor {
    gap: 1px;
    grid-template-areas: "logo" "section2" "footer";
    background-color: #ECEFF7;
  }
  .section1 {
    display: none;
  }
  .logo {
    margin-top: 50px;
  }
}
/* *****************QUIENES SOMOS***************** */
.container_quienes_somos {
  background-color: #ECEFF7;
}

.whatsapp {
  text-decoration: none;
}

.quienes_somos {
  display: flex;
  flex-direction: column;
}
.quienes_somos:h2 {
  margin-top: 70px;
  text-align: center;
  padding: 25px;
}

.quienes_somos .video {
  margin-top: 50px;
  text-align: center;
}

.salonBandera {
  display: none;
}

.contenido {
  padding: 25px;
  margin: 50px;
  line-height: 1.8; /*Espacio entre lineas*/
}

/* TABLET */
@media screen and (max-width: 768px) {
  .quienes_somos h2 {
    margin-top: 50px;
    text-align: center;
    padding: 25px;
  }
  .quienes_somos .video {
    display: none;
  }
  .salonBandera {
    text-align: center;
    display: block;
  }
  .contenido {
    line-height: 1.2; /*Espacio entre lineas*/
  }
}
/* MOBILE */
@media screen and (max-width: 420px) {
  .quienes_somos h2 {
    text-align: center;
  }
  .quienes_somos .video {
    display: none;
  }
  .salonBandera {
    display: none;
  }
  .contenido {
    line-height: 1.1; /*Espacio entre lineas*/
  }
}
/* *****************SERVICIOS***************** */
.container_servicios {
  margin-top: 100px;
  width: 100vw;
  height: 150vh;
}

.articulos_padre {
  width: 100vw;
  height: 150vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 5px;
}

.articulo {
  flex: 1 1 auto;
  width: 35vw;
  height: 50vh;
  padding: 3px;
  text-align: justify;
}

.articulo h2 {
  text-align: center;
}

.foto {
  width: 120px;
  padding: 2px;
  text-align: center;
}

.fotoArticulo {
  width: 150px;
  height: 150px;
}

.pie_servicios {
  margin-top: 35px;
  width: 100%;
  color: aliceblue;
  background-color: #2b3035;
  line-height: 1.5;
  padding: 50px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .articulos_padre {
    height: 150vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3px;
    padding: 5px;
  }
  .articulo {
    flex: 1 1 auto;
    width: 35vw;
    height: 25vh;
    padding: auto;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 420px) {
  .articulos_padre {
    height: 120vh;
    justify-content: center;
    align-items: center;
    gap: 1px;
    padding: 3px;
  }
  .articulo {
    flex: 1 1 auto;
    width: 20vw;
    height: 38vh;
    padding: 3px;
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
/* *****************GALERIA***************** */
.container_galeria {
  background-color: rgb(58, 60, 60);
  margin-top: 60px;
}

.galeriaFotos {
  text-align: center;
  color: #eceff7;
  padding: 30px;
}

.rows {
  margin: 10px;
  border: double rgb(0, 0, 0) 2px;
  margin: 5px;
}

.fila1 img {
  width: 250px;
  opacity: 0.4;
}

.fila2 img {
  width: 250px;
  opacity: 0.4;
}

.fila3 img {
  width: 250px;
  opacity: 0.4;
}

.rows:hover {
  border: solid white 2px;
}

img:hover {
  opacity: 1;
}

/* *****************CONTACTO***************** */
.container_contacto {
  padding: 20px;
  background-color: #ECEFF7;
}

.formularioPadre {
  background-color: #2b3035;
  width: 400px;
  margin-top: 90px;
  margin-bottom: 25px;
  margin-left: 400px;
  padding: 50px;
  border-radius: 5px;
}

.formulario h2 {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  color: aliceblue;
}

.claseNombre {
  margin-left: 25px;
}

.pieContacto {
  margin-top: 8px;
  width: 100%;
  color: aliceblue;
  background-color: #2b3035;
  line-height: 1.8;
  padding: 50px;
  text-align: center;
}

/* TABLET */
@media screen and (max-width: 768px) {
  .formularioPadre {
    width: 300px;
    margin-top: 90px;
    margin-bottom: 25px;
    margin-left: 300px;
    padding: 20px;
    border-radius: 5px;
  }
}
/* MOBILE */
@media screen and (max-width: 420px) {
  .formularioPadre {
    width: 200px;
    margin-top: 90px;
    margin-bottom: 25px;
    margin-left: 150px;
    padding: 10px;
    border-radius: 5px;
  }
}

/*# sourceMappingURL=styles.css.map */
