@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
  display: grid;
  width: 100vw;
  gap: 5px;
  grid-template-areas: "section1 section1 section1 section1" "logo section2 section2 section2" "footer footer footer footer";
  background-color: #ECEFF7;
}

header {
  grid-area: header;
  height: 45px;
  background-color: #2b3035;
}
header:nav ul span {
  color: #f7ecf1;
  text-align: left;
  margin-right: 100px;
}

.section1 {
  grid-area: section1;
  margin-top: 50px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.logo {
  grid-area: logo;
  align-self: center; /*Alineación en el eje vertical(hijo)*/
  justify-self: center; /*Alineación en el eje horizontal(hijo)*/
  background-color: #ECEFF7;
  transform: rotate(60deg);
}
.logo img {
  width: 150px;
  height: 150px;
}

.section2 {
  grid-area: section2;
  background-color: #d7d9dd;
  padding: 25px;
  line-height: 1.8; /*Espacio entre lineas*/
  justify-self: center;
  text-align: justify;
  margin: 25px;
  border-radius: 15px;
}
.section2 h1 {
  text-align: center;
  background-color: #2b3035;
  color: #e65d1a;
  border-radius: 10px;
}
.section2 h1:hover {
  color: #eceff7;
  background-color: #0055a5;
}
.section2 h2 {
  text-align: center;
}

.pie {
  grid-area: footer;
  color: aliceblue;
  background-color: #2b3035;
  line-height: 1.5;
  padding: 20px;
  text-align: center;
  width: 100vw;
}

/* TABLET */
@media screen and (max-width: 768px) {
  .contenedor {
    gap: 2px;
    grid-template-areas: "logo logo" "section2 section2" "footer footer";
    background-color: #ECEFF7;
  }
  .logo {
    margin-top: 25px;
  }
  .section1 {
    display: none;
  }
  .section2 h2 {
    text-align: center;
  }
}
/* MOBILE */
@media screen and (max-width: 420px) {
  .contenedor {
    gap: 1px;
    grid-template-areas: "logo" "section2" "footer";
    background-color: #ECEFF7;
  }
  .section1 {
    display: none;
  }
  .logo {
    margin-top: 50px;
  }
}
.container_quienes_somos {
  background-color: #ECEFF7;
}

.whatsapp {
  text-decoration: none;
}

.quienes_somos {
  display: flex;
  flex-direction: column;
}
.quienes_somos h1 {
  margin-top: 70px;
  text-align: center;
  padding: 20px;
  background-color: #2b3035;
  color: #e65d1a;
}
.quienes_somos h1:hover {
  color: #eceff7;
  background-color: #0055a5;
}

.quienes_somos .video {
  margin-top: 35px;
  text-align: center;
}

.salonBandera {
  display: none;
  width: "300px";
  height: "200px";
}

.contenido {
  padding: 25px;
  margin: 40px;
  line-height: 1.8; /*Espacio entre lineas*/
  text-align: justify;
}

/* TABLET */
@media screen and (max-width: 768px) {
  .quienes_somos h2 {
    margin-top: 50px;
    text-align: center;
    padding: 25px;
  }
  .quienes_somos .video {
    display: none;
  }
  .salonBandera {
    text-align: center;
    display: block;
  }
  .salonBandera img {
    width: 600px;
    height: 300px;
  }
  .contenido {
    line-height: 1.2; /*Espacio entre lineas*/
  }
}
/* MOBILE */
@media screen and (max-width: 420px) {
  .quienes_somos h2 {
    text-align: center;
  }
  .quienes_somos .video {
    display: none;
  }
  .salonBandera {
    display: none;
  }
  .contenido {
    line-height: 1.1; /*Espacio entre lineas*/
  }
}
.container_servicios {
  margin-top: 70px;
  width: 100vw;
  height: 150vh;
}
.container_servicios h1 {
  text-align: center;
  padding: 20px;
  background-color: #2b3035;
  color: #e65d1a;
}
.container_servicios h1:hover {
  color: #eceff7;
  background-color: #0055a5;
}

.articulos_padre {
  width: 100vw;
  height: 130vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 5px;
}
.articulos_padre .separador {
  margin-top: 30px;
  width: 100vh;
  background-color: #2b3035;
  padding: 3px;
}

.articulo {
  flex: 1 1 auto;
  width: 35vw;
  height: 50vh;
  padding: 3px;
  text-align: justify;
}

.articulo h2 {
  text-align: center;
}

.foto {
  width: 120px;
  padding: 2px;
  text-align: center;
}

.fotoArticulo {
  width: 150px;
  height: 150px;
}

.pie_servicios {
  margin-top: 35px;
  width: 100%;
  color: aliceblue;
  background-color: #2b3035;
  line-height: 1.5;
  padding: 50px;
  text-align: center;
}

/*TABLET*/
@media screen and (max-width: 768px) {
  .articulos_padre {
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3px;
    padding: 5px;
  }
  .articulos_padre .separador {
    margin-top: 15px;
    width: 100vh;
    background-color: #e65d1a;
    padding: 2px;
  }
  .articulo {
    flex: 1 1 auto;
    width: 35vw;
    height: 25vh;
    padding: auto;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
/*MOBILE*/
@media screen and (max-width: 420px) {
  .container_servicios {
    margin-top: 70px;
    width: 100vw;
    height: 170vh;
  }
  .articulos_padre {
    height: 90vh;
    justify-content: center;
    align-items: center;
    gap: 1px;
    padding: 3px;
  }
  .articulos_padre .separador {
    margin-top: 5px;
    width: 100vh;
    background-color: #e65d1a;
    padding: 1px;
  }
  .articulo {
    flex: 1 1 auto;
    width: 20vw;
    height: 38vh;
    padding: 3px;
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
.container_galeria {
  background-color: rgb(58, 60, 60);
  margin-top: 55px;
}

.galeriaFotos {
  text-align: center;
  color: #eceff7;
  padding: 30px;
}
.galeriaFotos h1 {
  margin-top: -13px;
  text-align: center;
  padding: 20px;
  background-color: #2b3035;
  color: #e65d1a;
}
.galeriaFotos h1:hover {
  color: #eceff7;
  background-color: #0055a5;
}

.filaGaleria {
  margin: 5px;
}

.fila1 img {
  border: double rgb(242, 242, 242);
  width: 250px;
  opacity: 0.4;
}

.fila2 img {
  border: double rgb(242, 242, 242);
  width: 250px;
  opacity: 0.4;
}

.fila3 img {
  border: double rgb(242, 242, 242);
  width: 250px;
  opacity: 0.4;
}

.rows:hover {
  border: solid white 2px;
}

img:hover {
  opacity: 1;
}

.container_contacto {
  padding: 20px;
  background-color: #ECEFF7;
}

.container_contacto {
  padding: 20px;
  background-color: #ECEFF7;
}

.formularioPadre {
  background-color: #2b3035;
  width: 400px;
  margin-top: 90px;
  margin-bottom: 25px;
  margin-left: 400px;
  padding: 50px;
  border-radius: 5px;
}
.formularioPadre h1 {
  color: aliceblue;
  text-align: center;
  margin-bottom: 35px;
}

.claseNombre {
  margin-left: 70px;
}

.pieContacto {
  margin-top: 8px;
  width: 100%;
  color: aliceblue;
  background-color: #2b3035;
  line-height: 1.8;
  padding: 50px;
  text-align: center;
}

/* TABLET */
@media screen and (max-width: 768px) {
  .formularioPadre {
    width: 300px;
    margin-top: 90px;
    margin-bottom: 25px;
    margin-left: 300px;
    padding: 20px;
    border-radius: 5px;
  }
}
/* MOBILE */
@media screen and (max-width: 420px) {
  .formularioPadre {
    width: 200px;
    margin-top: 90px;
    margin-bottom: 25px;
    margin-left: 150px;
    padding: 10px;
    border-radius: 5px;
  }
}

/*# sourceMappingURL=styles.css.map */
