/* MOBILE */
@media screen and (max-width:420px){ 
    .contenedor
    {  
      gap:1px;
      grid-template-areas:
        "logo"
        "section2"
        "footer";
      background-color: $colorFondo;
    }
    .section1
    {
      display: none;
    }
    .logo
    {
      margin-top:50px;
    }
  }  