/* MOBILE */
@media screen and (max-width:420px)
{
  .formularioPadre{
    width: 200px;
    margin-top: 90px;
    margin-bottom: 25px;
    margin-left: 150px;
    padding:10px;
    border-radius: 5px;
  }
}